services:
  - type: web
    name: parking-management-system
    env: docker
    region: oregon
    plan: free
    rootDir: parkease-backend
    dockerfilePath: ./Dockerfile
    healthCheckPath: /actuator/health
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: MANAGEMENT_HEALTH_MAIL_ENABLED
        value: false
      - key: JAVA_OPTS
        value: "-Xmx512m -Xms256m"
      - key: DATABASE_URL
        fromDatabase:
          name: parking-db
          property: connectionString

databases:
  - name: parking-db
    region: oregon
    plan: free
    databaseName: parking_db
    user: parking_user
